<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="bundle.css">
    <title> Faasify </title>
</head>
<body hx-headers='{"Authorization": "Bearer {{ .Token }}"}'> 
    <script src="bundle.js"></script>
    <style>{{ .Styles }}</style>
    <h1> Hello! This is a private page! </h1>
</body>
</html>
