<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="bundle.css">
    <title> {{ .AppName }} </title>
</head>
<body> 
    <style>{{ .Styles }}</style>
    <f-card id="card-1" cols="1fr" open>
        <f-title value="Button"></f-title>
        <f-text value=""></f-text>
        <f-button icon="search" label=" First "></f-button>
        <f-title value="Bar"></f-title>
        <f-bar label="20%" percent="20" size="50px" type="horizontal"></f-bar>
        <f-bar label="80%" percent="80" size="50px" type="vertical"></f-bar>
    </f-card>
    <f-card id="card-2" cols="1fr" open>
        <f-title value="Table"></f-title>
        <f-text value=""></f-text>
        <f-table id="table-2-1" cols="1fr">
            <f-text value="Text"></f-text>
            <f-text value="A"></f-text>
            <f-text value="B"></f-text>
            <f-text icon="info" value="C"></f-text>
        </f-table>
        <f-table id="table-2-2" cols="1fr 1fr 1fr">
            <f-text value="Number"></f-text>
            <f-text value=""></f-text>
            <f-text value=""></f-text>
            <f-number value="1"></f-number>
            <f-number value="2"></f-number>
            <f-number value="3"></f-number>
            <f-number value="40"></f-number>
            <f-number value="500"></f-number>
            <f-number value="6.000"></f-number>
            <f-number value="70.000"></f-number>
            <f-number value="800.000"></f-number>
            <f-number value="9.000.00"></f-number>
        </f-table>
    </f-card>
    <f-card id="card-3" cols="1fr" open>
        <f-input-search id="search-1" label="Search"></f-input-search>
        <f-input-password id="password-1" label="Password"></f-input-password>
        <f-input-text icon="edit" id="text-name" label="Text Name"></f-input-text>
        <f-input-text icon="info" id="text-disabled" label="Text disabled" value="Cannot be changed" disabled></f-input-text>
    </f-card>
    <script src="bundle.js"></script>
    <script>{{ .Script }}</script>
</body>
</html>
