<div id="content">
    <style>{{ .Styles }}</style>
    <div class="content-nav">
        <form hx-post="/content" hx-target="#content">
            <button> refresh </button>
        </form>
    </div>
    {{ range $key, $obj := .Data }}
    <div class="content-row">
        <div class="content-column">
            <span> {{ $key }} </span>
        </div>
        <div class="content-column">
            {{ range $name, $val := $obj }}
            <span> {{ $name }} </span>
            <span> {{ $val }} </span>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
