
.content-row {
    border: 1px solid var(--color-0);
    border-radius: .5rem;
    display: flex;
    flex-flow: column;
    padding: .5rem;
    margin: 1rem;
}

.content-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;
}

.content-nav button {
    background: var(--color-1);
    border-radius: .5rem;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.12), 0 .1rem .2rem rgba(0,0,0,.24);
    color: var(--color-3);
    height: 3rem;
    padding: .5rem;
    margin: 1rem;
}

.content-nav button:hover {
    background: var(--color-2);
}
