:root {
    --primary: var(--color-3);
    --secondary: var(--color-1);
    --accent: var(--color-2);
    --on-primary: var(--color-0);
    --on-secondary: var(--color-3);
    --on-accent: var(--color-3); 
    --color-0: #172b4d;
    --color-1: #0052cc; 
    --color-2: #0065ff;
    --color-3: #fff;
}

