/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0');

:root {
     /* built-in art styles */
    --neumorphism-background: #ecf0f3;
    --neumorphism-border: 1px solid var(--neumorphism-background);
    --neumorphism-border-radius: 16px;
    --neumorphism-box-shadow: -5px -5px 10px #fafbffff, 5px 5px 10px #161b1d40;
    --neumorphism-box-shadow-inset: inset -5px -5px 10px #fafbffff, inset 5px 5px 10px #161b1d40;
    --neumorphism-color-primary: #eff2f9;
    --neumorphism-color-text: #6e7f8d;
    --neumorphism-padding: 1rem;
    --neumorphism-margin: 1rem;
    /* art style */
    --background: var(--neumorphism-background);
    --border: var(--neumorphism-border);
    --border-radius: var(--neumorphism-border-radius);
    --box-shadow: var(--neumorphism-box-shadow);
    --box-shadow-inset: var(--neumorphism-box-shadow-inset);
    /* spacing */
    --padding: var(--neumorphism-padding);
    --margin: var(--neumorphism-margin);
    /* colors */
    --color-accent: #673ab7;
    --color-primary: var(--neumorphism-color-primary);
    --color-text: var(--neumorphism-color-text);
 }

body {
    /* colors */
    background: var(--background);
    color: var(--color-text);
    /* font setup */
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.5rem;
    /* layout */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1, h2 {
    padding: var(--padding);
    margin: var(--margin);
}

h1 {
    color: var(--color-accent);
    font-size: 140%;
}

h2 {
    font-size: 110%;
}

.disabled {
    background: unset !important;
    box-shadow: unset !important;
    cursor: auto !important;
}

/* faasify components */
f-bar,
f-button,
f-card,
f-input-password,
f-input-search,
f-input-text,
f-table {
    align-items: center;
    background: var(--color-primary);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color-text);
    display: flex;
    padding: var(--padding);
    margin: var(--margin);
}

f-bar {
    align-items: end;
    box-shadow: var(--box-shadow-inset);
    height: fit-content;
    justify-content: left;
    padding: 0;
    width: fit-content;
}

f-button {
    cursor: pointer;
    display: grid;
    grid-template-columns: 32px 1fr;
    padding: calc(var(--padding) / 2) var(--padding);
    width: max-content;
}

f-button span {
    padding: 0 calc( var(--padding) / 2);
}

f-button:hover {
    box-shadow: var(--box-shadow-inset);
}

f-number,
f-text,
f-input-password,
f-input-search,
f-input-text,
f-title {
    align-items: center;
    display: flex;
}

f-input-password,
f-input-search,
f-input-text,
f-table {
    box-shadow: unset;
    margin: calc(var(--margin) / 2);
    padding: calc(var(--padding) / 2);
}

f-input-password,
f-input-search,
f-input-text {
    margin: var(--margin);
    margin-top: calc(2*var(--margin));
}

f-input-password label,
f-input-search label,
f-input-text label {
    font-size: 80%;
    margin-top: -80px;
    position: absolute;
}

f-input-password span,
f-input-search span,
f-input-text span {
    position: absolute;
    margin-left: 8px;
}

f-text {
    text-align: left;
}

.f-bar-h {
    border-radius: inherit;
    height: var(--padding);
    width: calc(var(--size) / 100 * var(--percent));
}

.f-bar-p {
    background: var(--color-accent);
    border: var(--border);
    position: absolute;
}

.f-bar-v {
    border-radius: inherit;
    height: calc(var(--size) / 100 * var(--percent));
    width: var(--padding);
}

.f-card-inner, .f-table-inner {
    align-items: center;
    display: grid;
    justify-content: center;
    width: 100%;
}

.f-number,
.f-input-password,
.f-input-search,
.f-input-text,
.f-text {
    padding: calc(var(--padding) / 2);
    width: 100%;
}

.f-number {
    text-align: right;
}

.f-input-password,
.f-input-search,
.f-input-text {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-inset);
    color: var(--color-accent);
    padding-left: 40px;
}

.f-title {
    color: var(--color-accent);
    font-size: 140%;
    margin: var(--margin);
}

