:root {
    --color-0: #172b4d;
    --color-1: #0052cc;
    --color-2: #0065ff;
    --color-3: #fff;
}

body {
    background: var(--color-3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
