#stats {
    align-items: center;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--on-primary);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: .5rem;
    margin: .5rem;
    width: 600px;
}

.fn-name {
    background: var(--secondary);
    border-radius: .5rem;
    color: var(--on-secondary);
    padding: .5rem;
}

.fn-stats {
    align-items: center;
    border: 1px solid var(--secondary);
    border-radius: .5rem;
    color: var(--on-primary);
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    padding: .5rem;
    margin: .5rem;
    width: 400px;
}

