#stats {
    align-items: center;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--on-primary);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    width: 600px;
}

.fn-name {
    background: var(--tertiary);
    border-radius: .5rem;
    color: var(--on-tertiary);
    padding: .5rem;
}

.fn-stats {
    align-items: center;
    border: 1px solid var(--tertiary);
    border-radius: .5rem;
    color: var(--on-primary);
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}

